
<strong class="books-length">Number of books displayed: {{books.filteredBooks.length}}</strong>

<ul class="book-list">

	<li class="book-list-head">
		<span>Title</span>
		<span>Author</span>
		<span>Editor</span>
		<span>Date</span>
	</li>

	<li ng-repeat="book in (books.filteredBooks = (books | filter:books.keyword | startsWithLetter:activeLetter | languages:lgs | categories:cats))">
		<span>{{book.title}}</span>
		<span>{{book.author_name}}</span>
		<span>{{book.editor}}</span>
		<span>{{book.date_year}}</span>
	</li>
</ul>

<p class="no-results" ng-show="!books.filteredBooks.length">No results. <a href="" ng-click="resetFilters()">Reset all filters</a></p>